<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsas.appsaludtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
      
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionSinNombreActivity"/>
        <activity android:name="com.xsas.appsaludtest.ui.actividades.EncuestaTerminadaActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionCancerActivity">

        </activity>
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionNoseActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.CantidadIntegrantesActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEnfermedadesActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEsquemaVacunacionActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEsquemaVacunacionAncianoActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEsquemaVacunacionAdultoMujerActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEsquemaVacunacionAdultoHombreActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEsquemaVacunacionAdolescenteActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionEsquemaVacunacionNinoActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionOtrosActivity"/>
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionCaracteristicasViviendaActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionAntescedentesPersonalesActivity">
        </activity>
        <activity android:name="com.xsas.appsaludtest.ui.actividades.InicioActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionDatosGeneralesActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.SeccionGeoreferenciacionActivity" />
        <activity android:name="com.xsas.appsaludtest.ui.actividades.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>